body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  width: 1170px;
  display: flex;
  margin-bottom: 20px;
}

.logo {
  margin-right: 700px;
}

.header-list {
  display: flex;
  margin-right: 50px;
}

.header-item {
  list-style: none;
  margin-left: 50px;
}

.header-link {
  text-decoration: none;
  color: rgba(108, 108, 108, 1);
}

.header-link:active {
  color: rgba(172, 19, 19, 1);
}

.header-left {
  padding: 10px;
  margin-left: 50px;
  display: flex;
}

.left-logo {
  width: 20px;
  height: 20px;
}

.left-link {
  margin-top: 5px;
  margin-left: 10px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.left-link:active {
  color: rgb(212, 101, 101);
}

.hero {
  height: 708px;
  background-image: url(../images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  margin-bottom: 70px;
}

.hero-left {
  width: 576px;
  height: 305px;
  top: 97.5px;
  padding: 50px;
}

.hero-head {
  padding-top: 50px;
  margin-left: 200px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
  width: 153px;
  top: 0.5px;
  color: rgba(215, 116, 116, 1);
}

.hero-heading {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.head-text {
  font-family: Playfair Display;
  font-size: 68px;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  width: 57px;
  top: 12.5px;
  left: 422px;
  color: rgba(172, 19, 19, 1);
  transform: translateX(400px);
}

.hero-text {
  width: 512px;
  top: 166.5px;
  font-family: Libre Franklin;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(108, 108, 108, 1);
}

.hero-btn {
  width: 201px;
  height: 62px;
  top: 243.5px;
  background: rgba(172, 19, 19, 1);
  color: white;
}

.hero-right {
  margin-top: 100px;
}

.content {
  margin: 0 auto;
  padding: 0;
  width: 1440px;
  height: 969px;
  top: 800px;
  background-image: url(../images/content-bg.png);
  background-position: left;
  background-repeat: no-repeat;
}

.content-heads {
  transform: translateX(-500px);
  position: sticky;
  margin-left: 1000px;
  display: flex;
  margin-bottom: 100px;
}

.content-head {
  margin: 0 auto;
  padding: 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(215, 116, 116, 1);
  width: 206px;
  left: 480px;
}

.content-heading {
  margin: 0 auto;
  padding: 0;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  width: 196px;
  top: 64px;
  left: 374p;
  color: rgba(0, 0, 0, 1);
}

.content-text {
  margin: 0 auto;
  padding: 0;
  font-family: Playfair Display;
  font-size: 68px;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: center;
  width: 57px;
  top: 32px;
  left: 570px;
  color: rgba(172, 19, 19, 1);
}

.content-list {
  display: flex;
  width: 1172px;
  height: 240px;
  top: 177px;
  left: 14px;
  padding: 0px, 75px, 0px, 75px;
}
.content-item {
  transform: translateX(200px);
  margin: 0 auto;
  display: flex;
  width: 240px;
  height: 240px;
  left: 75px;
  border: 30px solid rgb(209, 164, 91);
  border-radius: 50%;
  background-color: rgba(228, 179, 102, 1);
  margin-left: 20px;
}

.content-img {
  width: 70px;
  height: 70px;
  top: 76px;
  left: 85px;
  position: relative;
}

.item-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  width: 51px;
  top: 146px;
  left: 95px;
  position: relative;
  transform: translateX(-70px);
}

.content_wrapp-list {
  margin-top: 70px;
  width: 1172px;
  height: 222px;
  top: 507px;
  left: 14px;
  padding: 0px, 10px, 0px, 10px;
  display: flex;
}

.content_wrapp-item {
  margin: 0 auto;
  padding: 0;
  width: 509.39px;
  height: 222px;
  left: 10px;
  margin-left: 200px;
}

.item-head {
  font-family: Poppins;
  font-size: 29px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.item-heading {
  margin-top: -40px;
  font-family: Poppins;
  font-size: 29px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.content_item-text {
  font-family: Libre Franklin;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(108, 108, 108, 1);
  width: 501px;
  top: 95px;
}

.wrapper {
  display: block;
  background-image: url(../images/bg-wrapper.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
}

.wrapper-list {
  transform: translateX(-100px);
}

.wrapper-item {
  display: flex;
  margin-bottom: 200px;
  justify-content: space-between;
  margin-left: 200px;
}

.wrapper-left {
  margin-top: 150px;
  width: 500px;
  height: 220px;
  background-image: url(../images/wrapper-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper-img {
  margin-top: -140px;
  width: 250px;
  margin-left: 125px;
}

.wrapper-right {
  width: 396.19px;
  height: 204px;
  margin-top: 70px;
}

.right-head {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  width: 252px;
  color: rgba(0, 0, 0, 1);
}

.right-text {
  font-family: Libre Franklin;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 388px;
  top: 57px;
  color: rgba(108, 108, 108, 1);
}

.text-author {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  width: 90px;
  top: 180px;
}

.pending {
  display: block;
  margin-left: 150px;
  background-image: url(../images/wrapper-bg1.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
}

.pending-head {
  margin: 0 auto;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
  left: 497px;
  color: rgba(215, 116, 116, 1);
}

.pending-heading {
  margin: 0 auto;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  width: 372px;
  height: 50px;
  top: 41px;
  left: 399px;
}

.pending-list {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 1372px;
  top: 154px;
  margin-left: -14px;
}

.pending-item {
  margin-left: 20px;
  width: 371px;
  height: 580px;
  left: 10px;
}

.pending-img {
  width: 370.66px;
  height: 494.2px;
}

.pending-item-head {
  margin: 0;
  font-family: Libre Franklin;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  top: 15px;
  color: rgba(108, 108, 108, 1);
}

.pending-item-text {
  margin: 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  width: 87px;
  top: 41px;
}

.hr {
  margin: 0;
  width: 370.66px;
  height: 0.01px;
  left: 10px;
  color: rgba(219, 219, 219, 1);
}

.pending-btn {
  transform: translateX(600px);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background: rgba(172, 19, 19, 1);
  width: 214px;
  height: 62px;
}

.pending-btn:active {
  background: rgb(255, 63, 63);
}

.wrapp {
  margin-top: 100px;
  width: 1440px;
  height: 471px;
  background-image: url(../images/wrapp-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.wrapp-left {
  padding: 145px;
  justify-content: start;
  width: 566px;
  height: 230px;
  top: 121px;
  left: 144px;
}

.wrapp-heading {
  margin: 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: left;
  color: rgba(215, 116, 116, 1);
  width: 153px;
}

.wrapp-head {
  margin: 0;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  width: 491px;
  top: 31px;
}

.wrapp-text {
  font-family: Libre Franklin;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Libre Franklin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(108, 108, 108, 1);
  width: 421px;
  top: 90px;
}

.wrapp-btn {
  width: 195px;
  height: 62px;
  background: rgba(172, 19, 19, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
}

.widget {
  transform: translateX(200px);
  width: 1152px;
  height: 430px;
  margin-top: 122px;
  left: 144px;
}

.widget-logo {
  position: relative;
  width: 80px;
  height: 80px;
  left: 536px;
}

.logo-title {
  margin: 0 auto;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(215, 116, 116, 1);
  width: 112px;
  height: 24px;
  top: 120px;
  left: 520px;
  margin-bottom: 50px;
}

.heads {
  transform: translateX(300px);
  position: absolute;
  margin: 0;
  display: flex;
}

.widget-head {
  margin: 0 auto;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  width: 246px;
  height: 50px;
  top: 19.95px;
  left: 288px;
  color: rgba(0, 0, 0, 1);
}

.widget-text {
  margin: 0 auto;
  font-family: Playfair Display;
  font-size: 68px;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(172, 19, 19, 1);
  width: 57px;
  height: 68px;
  top: -12.05px;
  left: 534px;
}

.form {
  transform: translateY(100px);
  margin: 0 auto;
  text-align: center;
  width: 500px;
  height: 133px;
  top: 297.05px;
  left: 326px;
}

.input-email {
  width: 320px;
  height: 45px;
  top: -0.05px;
}

.input-email:hover {
  border: 1px;
  background: rgba(235, 235, 235, 1);
}

.input-btn {
  width: 175px;
  height: 45px;
  top: -0.05px;
  left: 324px;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  margin-bottom: 20px;
}

.input-btn:active {
  background-color: #444242;
}

.footer {
  display: block;
  background: rgba(219, 219, 219, 0.1);
  width: 1440px;
  height: 611px;
}

.inner {
  transform: translateY(100px);
}

.footer-logo {
  transform: translateX(670px);
  margin-bottom: 20px;
}

.footer-text {
  margin: 0 auto;
  font-family: Libre Franklin;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(108, 108, 108, 1);
  width: 340px;
  top: 55.59px;
  left: 406px;
}

.footer-list {
  margin: 0 auto;
  display: flex;
  width: 1172px;
  height: 151px;
  top: 174px;
  left: 14px;
}

.footer-item {
  transform: translateY(70px);
  margin: 0 auto;
  display: block;
  width: 371px;
  height: 127px;
  top: -0.41px;
  left: 32px;
}

.item-img {
  transform: translateX(60px);
  width: 40px;
  height: 40px;
  left: 165px;
}

.img-title {
  transform: translateX(60px);
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: 23px;
  top: 50px;
  left: 164px;
}

.footer-link {
  display: block;
  text-decoration: none;
  font-family: Libre Franklin;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(108, 108, 108, 1);
  width: 188px;
  height: 24px;
  top: 93px;
  left: 91px;
}
